.heading-darkgray {
  background-color: #867875;
  width: 100%;
  height: 35px;
  color: white;
  font-size: 13px;
  border: 1px solid #867875;
  font-weight: bold;
  padding: 10px 15px;
}

.colFrom,
.colTo {
  width: 12%;
}

.colHours {
  width: 10%;
}

.colProject {
  width: 15%;
}

.colEdit,
.colDelete {
  width: 5%;
}
