<form [formGroup]="editTsForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 heading-darkgray">
        <span>Timesheet Entry {{data.timesheet?.DateFrom | date:"MM/dd/yyyy"}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field>
          <mat-select placeholder="Time Started" formControlName="DateFromHours">
            <mat-option *ngFor="let time of timesList" [value]="time.value">{{time.name}}</mat-option>
          </mat-select>
          <mat-error>Time started is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field>
          <mat-select placeholder="Time Finished" formControlName="DateToHours">
            <mat-option *ngFor="let time of timesList" [value]="time.value">{{time.name}}</mat-option>
          </mat-select>
          <mat-error>Time finished is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field>
          <mat-select placeholder="Project" formControlName="ProjectId">
            <mat-option>- Select - </mat-option>
            <mat-option *ngFor="let project of projects" [value]="project.ProjectId">{{project.Title}}</mat-option>
          </mat-select>
          <mat-error>Project is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-row-height">
        <mat-form-field>
          <textarea matInput mat-autosize placeholder="Description" matAutosizeMinRows="4" (keyup)="descriptionOnKeyUp($event)" formControlName="Description"></textarea>
          <mat-hint>{{charactersLeft}} characters left.</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <input type="hidden" formControlName="TimesheetId" />
    <div class="row">
      <div class="col-xs-6" *ngIf="!data.noCancel">
        <button class="btn btn-margin" mat-dialog-close>{{data.cancelAction}}</button>
      </div>
      <div class="col-xs-6" [ngClass]="{'col-xs-push-3':data.noCancel === 'true'}">
        <button class="btn btn-margin" (click)="closeDialog()" *ngIf="data.action" [ngClass]="{'btn-submit' :data.actionButtonColor === 'submit'}">{{data.action}}</button>
      </div>
    </div>
  </div>
</form>
