.colFrom,
.colTo {
  width: 145px;
  text-align: left;
}

.colTotal {
  width: 70px;
}

.colProject {
  width: 15%;
  text-align: left;
}

.colDescription {
  text-align: left;
}

.colExpand {
  width: 5%;
}

.sectionBorder {
  border: 2px solid #c0c4c7;
  border-radius: 5px;
}
