<div id="navigation">
  <div class="menuItem" *ngIf="showTimesheetMenu" [routerLink]="['timesheet']">Timesheet</div>
  <div class="menuButton" *ngIf="showManageProjectMenu" (click)="loadProjects()">
    <button mat-button [matMenuTriggerFor]="projectsMenu">Manage Project</button>
  </div>
  <mat-menu #projectsMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let project of projects" [routerLink]="['project',project.ProjectId]">{{project.Title}}</button>
  </mat-menu>
  <div class="menuItem" *ngIf="showMaintainEmployeeMenu" [routerLink]="['employee']">Maintain Employees</div>
  <div class="menuItem" *ngIf="showMaintainProjectMenu" [routerLink]="['project']">Maintain Projects</div>
  <div id="navigation-username" class="menuItem rightMenuItem">{{user.FullName}}</div>
</div>
<div id="navigation-space"></div>
